@import './variables.scss';
@import './mixins.scss';

.main{
    width: 100%;
}

// form styles
.form{
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    @include media-tablet {
        grid-template-rows: repeat(2,1fr);
    }

    &__wrapper{
        grid-column: 2/5;
        position: relative;

        @include media-tablet {
            grid-row: 1/2;
            grid-column: 1/7;
            margin: 0 50px 20px;
        }

        @include media-mobile {
            margin: 0 10px 20px;
        }

    }
    &__input{
        width: 100%;
        padding-left: 2rem;
        height: 6rem;
        font-size: 1.8rem;
        border-radius: 3px;
        outline: none;
        border: none;
        box-shadow: 0 0 5px $color-grey;
        transition: all .3s;
    }

    &__button{
        grid-column: 5/7;
        width: 130px;
        justify-self: center;
        height: 50px;
        border-radius: 5px;
        border: none;
        font-size: 2rem;
        font-weight: normal;
        background-color: $color-green;
        outline: none;
        box-shadow: 0 5px 10px $color-grey;
        transition: all .3s;
        cursor: pointer;
        color: $color-white;
        text-shadow: 0 1px 1px $color-grey;

        @include media-tablet {
            grid-row: 2/3;
            grid-column: 3/5;
        }
    }
}

.form__input:focus{
    box-shadow: 2px 8px 15px $color-grey;
}

.form__button:hover{
    transform: scale(1.04);
    color: $color-grey;
    background-color: $color-green-light;
    box-shadow: 0 13px 20px $color-grey;
    text-shadow: none;
}

.form__button:active{
    transform: scale(1.02);
    background-color: $color-green-dark;
    box-shadow: 0 6px 11px $color-grey;
}

//info paragraph - for errors
.info{
    height: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    color: $color-green-dark;
    margin: 10px 0;
    font-weight: 300;
    transition: all .4s;
    @include media-tablet {
        font-size: 2rem;
    }

    @include media-mobile {
        font-size: 1.8rem;
        margin: 10px 0 0 0;
    }
    @include media-mobilesmall {
        font-size: 1.5rem !important;
    }
}



.card{
    width: 300px;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 5px $color-grey;
    opacity: .5;
    transition: all .4s;
    border-bottom: 5px solid $color-grey;

    &__title{
        text-decoration: none;
        color: black;
        font-size: 3rem;
        font-weight: 300;
        overflow: hidden;
        width: 90%;
        display: inline-block;
        height: 40px;
        word-wrap: break-word;
        transition: all .3s;
        
    }
    &__image{
       background-repeat: no-repeat;
       background-size: cover;
       width: 100%;
       height: 75%;
    }
    &__year{

        font-size: 1.7rem;
        font-weight: 400;

    }
    &__rating{
        font-size: 1.7rem;
        font-weight: 400;
        display: inline-block;
    }

    &__wrapper_for_star{
        position: relative;
        width: 100px;
        display: inline-block;
    }
}

.card:hover{
    opacity: 1;
}

.card__title:hover{
    color: $color-green-dark;
}

.star{
    position: absolute;
    width: 30px;
    top: -4px;
    left: 6px;
}

.keyboard-icon{
    position: absolute;
    top: 8px;
    right: 50px;
    width: 40px;
    opacity: .5;
    cursor: pointer;
    transition: all .4s;
    
    @include media-tablet-big {
        display: none;
    }
}

.keyboard-icon:hover{
    opacity: .9;
}