//colors
$color-black: #000;
$color-white: #fff;
$color-grey: rgba(102, 102, 102, 1);
$color-green: rgba(0,205,174,1);
$color-green-light: rgba(63,236,210,1);
$color-green-dark: rgba(0,150,127,1);


//responsive variables
$content-width: 1400px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

